<h1>Edit Lake Form </h1>

<%= form_with url:"/lakes/#{@lake.id}", method: :patch, local: true do |form| %>
  
<%= form.label :name, "Lake Name" %>
<%= form.text_field :name %>
<br>
<%= form.label :max_depth, "Max Depth" %>
<%= form.number_field :max_depth %>
<br>
<%= form.label :allows_public_fishing, "Allows Public Fishing", value: true%>
<%= form.radio_button :allows_public_fishing, true %>
<%= form.label :allows_public_fishing, "Does Not Allow Public Fishing", value: false%>
<%= form.radio_button :allows_public_fishing, false %>
<br>
<%= form.submit "Submit"%>
<% end %>