<h1 style="color:red;"> 🌊All Lakes🌊 </h1>
<img src = "https://i.redd.it/rr0zadfpf6b61.jpg" width="400" height= "200">
<hr>

<% @lakes.each do |lake| %>
  <p><strong>Name:</strong> <%= lake.name %></p>
  <p><strong>Max Depth:</strong> <%= lake.max_depth %></p>
  <p><strong>Allows Public Fishing:</strong> <%= lake.allows_public_fishing %></p>
  <p><strong>Created At:</strong> <%= lake.created_at %> </p>
  <p>ID:<%= "#{lake.id}"%>
  <p><%= link_to "Edit #{lake.name}", "/lakes/#{lake.id}/edit"%></p>
  <p><%= link_to "More Information", "/lakes/#{lake.id}"%></p>
  <hr>
<% end %>

<%= link_to "Add New Lake", "/lakes/new" %>

