<h1> All Lakes </h1>
<hr>
<% @lakes.each do |lake| %>
  <p><strong>Name: <%= lake.name %></strong></p>
  <ul>Max Depth: <%= lake.max_depth %></ul>
  <ul>Allows Public Fishing: <%= lake.allows_public_fishing %></ul>
  <ul>Created At: <%= lake.created_at %> </ul>
<% end %>

<%= link_to "Add New Lake", "/lakes/new" %>

<br>