
<body>
<body style="background-color:skyblue">
<h1> Lake Information</h1>
<hr>

<h3>Name: <%= @lake.name %> </h3>
<ul>ID: <%= @lake.id %></ul>
<ul>Max Depth: <%= @lake.max_depth %></ul>
<ul>Allows Public Fishing: <%= @lake.allows_public_fishing%></ul>
<ul>Num Of Fish Species: <%= @lake.fishes_count %> <ul>


</body>