<h1> Known Fish In Lake </h1>

<% @fishes.each do |fish|%>
  <p>Name: <%= fish.name %></p>
  <p>Average Length(inches): <%= fish.avg_length %></p>
  <p>Catch And Release Only?: <%= fish.catch_and_release_only%></p>
<% end %>

<%= link_to "Add New Fish", "/lakes/#{@lakes.id}/fishes/new" %>

<%= link_to "Sort Fish Alphabetically", "/lakes/#{@lakes.id}/fishes?sort=1" %>

